<div class="container">

  <header class="favicons-header">
    Favicons
  </header>

  <form action="/favicons" method="GET" target="_blank">
    <input type="text" name="q" placeholder="Enter a url">
  </form>

  <br>

  <% if @use_spritesheet %>

    <style>
      .favicon-sprite {
        background: url(/assets/favicons.png?<%= @spritesheet.updated_at %>);
      }
    </style>

  <% end %>

  <div class="favicons">

    <% if @use_spritesheet %>

      <% @spritesheet.sprites.each do |sprite| %>

        <div class="favicon favicon-sprite <%= sprite[:css_class] %>"
             style="<%= sprite[:css_rule] %>"
             title="<%= sprite[:url] %>"></div>

      <% end %>

    <% elsif @favicon_urls.present? %>

      <% @favicon_urls.each do |img_url| %>
        <img class="favicon" src="<%= img_url %>" title="<%= img_url %>">
      <% end %>

    <% elsif @favicon_snapshots.present? %>

      <% @favicon_snapshots.each do |snapshot| %>
        <img class="favicon" src="<%= snapshot.favicon_data_uri %>"
                             title="<%= snapshot.query_url %>">
      <% end %>

    <% end %>

  </div>

  <% if @favicon_snapshots.present? %>

    <script>
      Traveler.last_id = <%= @favicon_snapshots.last.id %>;
    </script>

  <% end %>

</div>
