<div class="container">

  <div class="favicons">

    <div class="favicon-sheet">

      <% @favicon_snapshots.each_slice(5).to_a.each do |row| %>

        <div class="favicon-row">

          <% row.each do |snapshot| %>
            <img class="favicon"
                 src="<%= snapshot.favicon_data_uri %>"
                 title="<%= snapshot.query_url %>">
          <% end %>

        </div>

      <% end %>

      <div class="favicon-trail">

        <div class="favicon favicon-ghost"></div>
        <div class="favicon favicon-ghost"></div>
        <div class="favicon favicon-ghost darker"></div>
        <div class="favicon favicon-ghost darker"></div>
        <div class="favicon favicon-ghost"></div>

        <div class="favicon favicon-ghost lighter"></div>
        <div class="favicon favicon-ghost"></div>
        <div class="favicon favicon-ghost"></div>
        <div class="favicon favicon-ghost"></div>
        <div class="favicon favicon-ghost lighter"></div>

      </div>

    </div>

  </div>

  <div class="messages">

    <h1 class="title">Traveler</h1>

    <div class="intro">
      This is the path of a traveler <br>
      as it endlessly wanders<br>
      the web
    </div>

    <div class="status">
      Status &ndash; <span class="s"><%= @traveler.status %></span>
    </div>

  </div>

</div>

<script>
  Traveler.first_id = <%= @favicon_snapshots.first.id %>;
  Traveler.last_id = <%= @favicon_snapshots.last.id %>;
</script>
