<% content_for(:title) { "The Traveler" } %>


<div class="container">

  <div class="the-trail">

    <img src="<%= asset_path "the-traveler.gif" %>"
         class="the-traveler invisible">

    <div class="favicons">

      <div class="favicon-sheet">
        <%= render :partial => "traveler/favicons/staggered_sheet" %>
      </div>

      <div class="favicon-fader">
        <div class="favicon-fade entrance"></div>
        <div class="favicon-fade block"></div>
        <div class="favicon-fade rect left bottom"></div>
        <div class="favicon-fade rect right bottom"></div>
      </div>

      <div class="favicon-trail">
        <div class="favicon favicon-ghost"></div>
        <div class="favicon favicon-ghost lighter"></div>
        <div class="favicon favicon-ghost lighter"></div>
        <div class="favicon favicon-ghost lighter"></div>
        <div class="favicon favicon-ghost lighter"></div>
      </div>

    </div>

  </div>

  <div class="description">

    <h1 class="title">
      The Traveler
      <div class="status-icon <%= @traveler.status %>"
           title="Status - <%= @traveler.status %>"></div>
    </h1>

    <div class="intro">
      wanders the web <br>
      and keeps a journal <br>
      of the road it takes
    </div>

    <div class="neighborhood invisible"></div>

  </div>

</div>

<script>
  Traveler.latest_id  = <%= @ids.max %>;
  Traveler.max_rows = <%= FaviconSnapshot::N_PER_PAGE / 5 %>;
</script>
