<div class="container">

  <div class="favicons">

    <div class="favicon-sheet">

      <% @favicon_snapshots.each_slice(5).to_a.each do |row| %>

        <div class="favicon-row">

          <% row.each do |snapshot| %>
            <img class="favicon"
                 src="<%= snapshot.favicon_data_uri %>"
                 title="<%= snapshot.query_url %>">
          <% end %>

        </div>

      <% end %>

    </div>

    <div class="favicon-fader">

      <div class="favicon favicon-fade left top"></div>
      <div class="favicon favicon-fade right top"></div>
      <div class="favicon-fade entrance"></div>
      <div class="favicon-fade block"></div>
      <div class="favicon favicon-fade left bottom"></div>
      <div class="favicon favicon-fade right bottom"></div>

    </div>

    <div class="favicon-trail">

      <div class="favicon favicon-ghost lighter"></div>
      <div class="favicon favicon-ghost"></div>
      <div class="favicon favicon-ghost"></div>
      <div class="favicon favicon-ghost lighter"></div>
      <div class="favicon favicon-ghost lighter"></div>

    </div>

  </div>

  <div class="messages">

    <h1 class="title">
      The Traveler
      <div class="status-icon <%= @traveler.status %>"
           title="Status - <%= @traveler.status %>"></div>
    </h1>

    <div class="intro">
      wanders the web <br>
      and leaves a trail of <br>
      places it's been
    </div>

    <div class="status" style="display: none;">
      Status &ndash; <span class="s"><%= @traveler.status %></span>
    </div>

    <div class="neighborhoods" style="display: none;">
      <h3>Recent neighborhoods</h3>

      <div class="neighborhood">*.blogger.com</div>
    </div>

  </div>

</div>

<script>
  Traveler.first_id = <%= @favicon_snapshots.first.id %>;
  Traveler.last_id = <%= @favicon_snapshots.last.id %>;
</script>
