<!DOCTYPE html>
<html>

<head>
  <title><%= yield(:title) || "Favicons" %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'https://fonts.googleapis.com/css?family=PT+Sans+Narrow' %>
  <% if Rails.env.production? %>
    <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js' %>
  <% else %>
    <%= javascript_include_tag 'jquery' %>
  <% end %>
  <%= javascript_include_tag 'application' %>
  <link rel="icon" href="<%= asset_path "favicon.ico" %>" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body data-controller="<%= params[:controller] %>">

<%= yield %>

</body>

</html>
